@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@import 'header.css';

@import 'hero.css';

@import 'freeNFT.css';

@import 'iconsection.css';

body {
  margin: 0;
  margin-top: 32px;
  font-family: Inter;
}

* {
  box-sizing: border-box;
}
